name: CI

on:
  push:
    branches: [ master, main ]
  pull_request:

jobs:
  lint-scripts:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install shellcheck
        run: |
          sudo apt-get update
          sudo apt-get install -y shellcheck

      - name: Lint Bash scripts
        run: |
          find files/bash -name "*.sh" -print0 | xargs -0 -n1 shellcheck

      - name: Lint PowerShell scripts
        uses: azure/powershell@v2
        with:
          azPSVersion: "latest"
          inlineScript: |
            Get-ChildItem -Path "files/pwsh" -Filter "*.ps1" -Recurse |
              ForEach-Object {
                Write-Host "Checking $($_.FullName)"
                pwsh -NoLogo -NoProfile -Command "Test-ScriptFileInfo -Path '$($_.FullName)' | Out-Null"
              }
