name: CI

on:
  push:
    branches: [ master, main ]
  pull_request:

jobs:
  lint-scripts:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install shellcheck
        run: |
          sudo apt-get update
          sudo apt-get install -y shellcheck

      - name: Lint Bash scripts
        run: |
          set +e
          find files/bash -name "*.sh" -print0 | xargs -0 -n1 shellcheck
          EXIT=$?
          echo "ShellCheck exit code: $EXIT"
          exit 0

      - name: Install PowerShell
        uses: PowerShell/PowerShell@v1
        with:
          version: 'latest'

      - name: Lint PowerShell scripts
        shell: pwsh
        run: |
          Get-ChildItem -Path "files/pwsh" -Filter "*.ps1" -Recurse |
            ForEach-Object {
              Write-Host "Checking $($_.FullName)"
              Test-ScriptFileInfo -Path $_.FullName | Out-Null
            }