name: CI

on:
  push:
    branches: [ master, main ]
  pull_request:

jobs:
  lint-scripts:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install shellcheck
        run: |
          sudo apt-get update
          sudo apt-get install -y shellcheck

      - name: Lint Bash scripts
        run: |
          find files/bash -name "*.sh" -print0 | xargs -0 -n1 shellcheck

      - name: Lint PowerShell scripts with PSScriptAnalyzer
        shell: pwsh
        run: |
          Install-Module PSScriptAnalyzer -Force -Scope CurrentUser
          Import-Module PSScriptAnalyzer
          Invoke-ScriptAnalyzer -Path ./files/pwsh -Recurse -Severity Error -EnableExit
